<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bringing diversity to Coding</title>
    <!--<link rel=”stylesheet” href=”css/styles.css”>
    <!-- Latest compiled and minified CSS -->
      <link rel="style.project" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>Bringing diversity to Coding</title>
</head>

<header>
  <div id="header" class="container">
    <div class="inner">
      <h1>CODING COMPANIES FOR HER</h1>
    </div>
    <div class="topnav">
        <ul>
          <a class="active" href="https://nemonaitor.github.io/CFG_culturebox/index.html">Home</a>
          <a href="https://nemonaitor.github.io/CFG_culturebox/aboutus.html">About</a>
          <a href="https://nemonaitor.github.io/CFG_culturebox/aboutus.html">Contact</a>
          <a href="https://nemonaitor.github.io/CFG_culturebox/Submit2.html">Submit your work</a>
        </ul>
    </div>
  </div>
</header>

<div id="LEARN" class="container">
  <h1> WOMEN LEARN CODING </h1>
</div>

<div id="categories" class="container">
    <!-- AUTHORS -->
    <!-- Four Classics -->
    <div id="classics" class="container">
      <h2>Why its important</h2>
      <h4>BE IN THE NOW</h4>
        <img id="classics" src="https://nemonaitor.github.io/CFG_culturebox/classics.png" alt="scene from the novel Dream of the Red Chamber" class="img-thumbnail">
        <p>In this digital age, we are using coding everyday without realising it. It can lead to more independence in taking control of your learning, make apps, make your own webiste, build a business or even take care of your finance. Information is at your finger tips. Job prepective is better and tech communities are becoming more diverse and inclusive.".</p>
    </div>






<marquee id="scroll" behavior="scroll" direction="left">There are only 3% of the work that can actually code? </marquee>




<p>Let's keep in touch </p>
<div id="contact-form">
<form method="post" action="/signup">
<label for="email">Email address:</label>
<input type="email" id="email" name="email" required="required">

<label>Company:</label>
<input type="text" id="company" name="company" required="required">


<input type="submit" value="Submit" id="submit-
button">

</form>
</div>



</body>
</html>
