<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bringing diversity to Coding</title>
    <!--<link rel=”stylesheet” href=”css/styles.css”>
    <!-- Latest compiled and minified CSS -->
      <link rel="style.project" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <title>Bringing Diversity to Coding</title>
</head>

<header>
  <div id="header" class="container">
    <div class="inner">
      <h1>CODING COMPANIES FOR HER</h1>
    </div>
    <div class="topnav">
        <ul>
          <a class="active" href="https://neelubegum.github.io/Level2_Python_CFG/template/project.html">Home</a>
          <a href="https://neelubegum.github.io/Level2_Python_CFG/template/aboutus.html">About</a>
          <a href="https://neelubegum.github.io/Level2_Python_CFG/template/info.html">Get Organisation Information</a>
        </ul>
    </div>
  </div>
</header>

<div id="LEARN" class="container">
  <h1> WOMEN LEARN CODING </h1>
</div>
  <!-- SECTION 1 -->

<div id="categories" class="container">
    <!-- Why we are doing coding -->
    <!-- Now -->
    <div id="classics" class="container">
      <h2>Why its important</h2>
      <h4>BE IN THE NOW</h4>
        <img id="classics" src="https://neelubegum.github.io/Level2_Python_CFG/static/images/empowerment.png" class="img-thumbnail">
        <p>In this digital age, we are using coding everyday without realising it. It can lead to more independence in taking control of your learning, make apps, make your own webiste, build a business or even take care of your finance. Information is at your finger tips. Job prepective is better and tech communities are becoming more diverse and inclusive.".</p>
    </div>

  <!-- SECTION 2-->
  <div id="goodfood" class="container">
    <h2>How to learn</h2>
    <h4>What is best for you?</h4>
      <img id="jiaozi" src="https://neelubegum.github.io/Level2_Python_CFG/static/images/Learn-coding-online.png" class="img-thumbnail">
      <p> Coding can be learnt in many forms. Most common is self-teach which involves hard work, dedication and discipline. You can have online courses or following online instructions. Some are even more adventerous but just troubleshoot until they achieve their aims. Others pay for teachers or companies to help. But the best and most useful is <i><b>companies and organisations</b></i> that teach for free. You get to meet a community that are in the same boat as you. You work with people who are actively doing the jobs or tasks that you aspire too.</p>
  </div>

  <!-- SECTION 3-->
  <div id="chinasingers" class="container">
    <h2>Persistences</h2>
    <h4>When it gets tough</h4>
      <img id="teng" src="https://neelubegum.github.io/Level2_Python_CFG/static/images/garbage.png" class="img-thumbnail">
      <p><i><b>Its not an easy journey</b></i> but persistence is key. How many people try but fail. The point is to get back up and try again. <b>IF YOU ARE NOT FAILING EVERY NOW AND AGAIN. IT'S A SIGN YOU'RE NOT DOING ANYTHING VERY INNOVATIVE</b></p>
  </div>
</div>

<marquee id="scroll" behavior="scroll" direction="left">There are only 3% of the work that can actually code? </marquee>

</html>
