<!doctype html>

<html>
<head>
<title>Tweets of interest</title>
</head>
<body>
{%
import tweepy

auth=tweepy.OAuthHandler("Zi0zR6Y3kw2ly98wE7majMb55","9bA2086tHojvAUQL4EzMhMPnv3Wr4Lsnc6LbjyR8KaJY7btphB")
auth.set_access_token("1011888746009067520-CEER93u9rCyHTe3Vu5BOiu13g7pXiT","sZU3fium2Lk9xS13T50uW0psFOxb97KuvyHqwnGuTYKoN")

twitter_api=tweepy.API(auth)

cfg_tweets=twitter_api.search(
  q="CodeFirstGirls"
)

for tweet in cfg_tweets:
  print tweet.user.name + ":" + tweet.text +"\n"
  %}

</body>
</html>
